body {
    width: 425px;
    /* height: 900px; */
    overflow-y: auto;
    overflow-x: hidden;
}

#status {
    float : right;
}

#stocks {
    margin-top: 5px;
    margin-bottom: 5px;
}

#stocks ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.stock {
    margin: 4px 0;
    height: 22px;
    padding: 2px 2px;
    cursor: hand;
    -webkit-border-radius: 5px;
}

.selected {
    background: #F39814;
    color: white;
}

.highlighted {
    border-color: #F39814;
}

.stock_name {
    overflow : hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    display : inline-block;
    margin-left : 3px;
    width : 250px; /* this sucks but I haven't found a better way */
}

.stock_price {
    float: right;
    display : inline;
    margin-left : 3px;
    min-width: 60px;
}

/* Price change box */
.stock_chg {
    float : right;
    display : inline;
    margin-left : 6px;
    margin-right: 6px;
    min-width: 60px;
    text-align: center;
    color: white;
    -webkit-border-radius: 5px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.up {
    background-color: #3A932E; /* green */
}

.down {
    background-color : #E46062; /* red */
}

.neutral {
    background-color : black;
}

/* Charts */
#chart {
    padding : 5px 2px;
    border-top: 1px solid #DDD;
}

#time_options {
    width: 60%;
    margin: 3px auto;
}

#time_options li {
    display: inline-block;
    margin-left: 4px;
    padding: 2px;
    -webkit-border-radius: 5px;
    cursor: hand;
}

#chart img {
    width : 100%;
/* max-height : 210px; */
}

/* Extra text */
#title {
    width: 90%;
    font-weight: bold;
    text-align: center;
    cursor: hand;
}

.title_highlight {
    font-style : italic;
}

#disclaimer {
    font-style : italic;
    font-size : 85%;
    text-align: center;
    margin-bottom: 5px;
}

#empty {
    text-align: center;
}
